html {
    font-family: 'microsoft yahei';
    font-size: 13px;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 20px
}

.detail,
.form {
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.content {
    text-align: center;
}

.detail {
    text-align: left
}

.all {
    font-weight: bold;
    color: #3C2828;
}

.form {
    border: 2px solid rgb(57, 102, 181);
    position: relative;
    padding: 20px 0;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
    width: 330px;
}

.title {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    background-color: #fff;
    color: rgb(57, 102, 181);
    font-size: 16px;
    top: -15px;
    z-index: 200;
    text-align: center;
}

.ok {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    background-color: rgb(57, 102, 181);
    color: #fff;
    font-size: 16px;
    bottom: -15px;
    z-index: 200;
    text-align: center;
    line-height: 30px;
}

select,.form-group input {
    width: 173px;
}

label {
    width: 100px;
    text-align: right;
    display: inline-block;
}

.form-group {
    margin: 15px 0;
    text-align: center;
}

.txt {
    width: 100px;
}

.videos {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.video {
    display: table-cell;
    width: 33%;
    border-right: 10px solid #fff;
    text-align: center;
}

.more {
    text-align: center;
    margin: 25px 0;
}

.more span {
    display: inline-block;
    margin: 0 auto;
    background-color: rgb(85, 168, 221);
    padding: 15px 10%;
    color: #fff;
}

.info span {
    background-color: rgb(57, 102, 181);
    color: #fff;
    display: inline-block;
    width: 100px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
}

li {
    line-height: 26px;
    list-style-type: disc;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px
    }
    .form,
    .detail {
        display: block;
        width: auto;
        max-width: 350px;
        margin: 0 auto
    }
    .form {
        float: none
    }
    .all {
        font-size: 13px
    }
    .info,
    .desc {
        display: none;
    }
    .video {
        border-right-width: 15px;
    }
    .title {
        top: -10px;
    }
}

@media screen and (min-width: 375px) {
    .title,
    .all,
    .more {
        font-size: 1.3rem
    }
    label {
        width: 120px;
    }
}

@media screen and (max-width: 320px) {
    .form {
        margin: 0 8px;
    }
}
