html {
    font-family: 'microsoft yahei';
    font-size: 13px;
}

body {
    margin: 0;
}

#logo {
    background-color: rgb(106, 90, 86);
    font-size: 0;
    text-align: center;
}

#logo img {
    max-width: 1060px
}

.content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 15px
}

.detail,
.form {
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
    max-width: 400px;
}

.content {
    text-align: center;
}

.detail {
    text-align: left;
    margin: 0 auto;
    padding-right: 60px
}

.all {
    font-weight: bold;
    color: #3C2828;
}

.form {
    border: 2px solid rgb(57, 102, 181);
    position: relative;
    padding: 20px 0;
    border-radius: 8px;
    width: 330px;
    margin: 20px auto
}

.title {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    background-color: #fff;
    color: rgb(57, 102, 181);
    font-size: 16px;
    top: -15px;
    z-index: 200;
    text-align: center;
}

.ok {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    background-color: rgb(57, 102, 181);
    color: #fff!important;
    font-size: 16px;
    bottom: -15px;
    z-index: 200;
    text-align: center;
    line-height: 30px;
}

select,
.form-group input {
    width: 173px;
}

label {
    width: 100px;
    text-align: right;
    display: inline-block;
}

.form-group {
    margin: 15px 0;
    text-align: center;
    line-height: 24px
}

.txt {
    width: 100px;
    font-weight: bold;
}

.videos {
    display: table;
}

.video {
    display: table-cell;
    border-right: 10px solid transparent;
}

.more {
    text-align: center;
    margin-top: 35px;
    display: none
}

.detail .more {
    display: block;
}

.more span {
    display: inline-block;
    margin: 0 auto;
    background-color: rgb(85, 168, 221);
    padding: 10px 30px;
    color: #fff;
}

.info span {
    background-color: rgb(57, 102, 181);
    color: #fff;
    display: inline-block;
    width: 100px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
}

ul {
    margin-left: -20px
}

li {
    line-height: 26px;
    list-style-type: disc;
}

a {
    text-decoration: none;
}

.video a {
    display: inline-block;
    text-align: center;
    color: #3C2828;
}

a:hover {
    color: rgb(57, 102, 181);
}

.pic1,
.pic2,
.pic3 {
    height: 40px;
    width: 90px;
    background-size: cover;
    background-repeat: none
}

.pic1 {
    background-image: url('v1.jpg');
}

.pic2 {
    background-image: url('v2.jpg');
}

.pic3 {
    background-image: url('v3.jpg');
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px
    }
    .content {
        background: url('bg.jpg') no-repeat;
        background-size: cover;
    }
    .form,
    .detail {
        display: block;
        width: auto;
        max-width: 350px;
    }
    .form {
        float: none
    }
    .detail {
        text-align: center;
        padding: 0;
    }
    .all {
        font-size: 13px
    }
    .info,
    .desc {
        display: none;
    }
    .videos {
        margin: 0 auto;
    }
    .video {
        border-right-width: 15px;
    }
    .title {
        top: -10px;
    }
    .detail .more {
        display: none;
    }
    .more {
        display: block;
    }
    .p-all {
        margin: 0;
        padding: 10px 0
    }
    .title {
        background: url('bg.jpg') no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 375px) {
    label {
        width: 120px;
    }
}

@media screen and (max-width: 320px) {
    .form {
        margin: 20px 8px;
    }
}
